{:paths ["src/cljs"]
 
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/clojurescript {:mvn/version "1.10.773"}
        reagent {:mvn/version "1.0.0"}}

 
 :aliases
 {:prod
  {:main-opts ["-m cljs.main -co prod.cljs.edn -c myapp.core"]}


  :cider
  {:extra-paths ["resources"]
   :extra-deps {com.bhauman/figwheel-main {:mvn/version "0.2.12"}}}

  
  :figwheel
  {:extra-paths ["resources"]
   :extra-deps {com.bhauman/figwheel-main {:mvn/version "0.2.12"}}
   :main-opts ["-m figwheel.main -b dev -r"]}}}
