{:paths ["src/cljs"]
 
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/clojurescript {:mvn/version "1.11.54"}
        reagent/reagent {:mvn/version "1.1.1"}
        cljsjs/react {:mvn/version "17.0.2-0"}
        cljsjs/react-dom {:mvn/version "17.0.2-0"}}

 
 :aliases
 {:prod
  {:main-opts ["-m" "cljs.main" "-co" "prod.cljs.edn" "-c" "myapp.core"]}


  :cider
  {:extra-paths ["resources"]
   :extra-deps {com.bhauman/figwheel-main {:mvn/version "0.2.18"}}}
  
  :figwheel
  {:extra-paths ["resources"]
   :extra-deps {com.bhauman/figwheel-main {:mvn/version "0.2.18"}}
   :main-opts ["-m" "figwheel.main" "-b" "dev" "-r"]}}}
